{
  "plugins": [
    "react",
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended", //paired with plugins: ["react"]
  ],


  "parser": "babel-eslint", // without parser specified, I just get import is not defined
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
  },
  "env": {
    "mocha": true,
    "node": true,
    "es6": true,
    "browser": true,
  },
  "rules": {
    "no-console": 0,
    "no-var": 1,
  }
}
