{
  "plugins": [
    "react",
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended", //paired with plugins: ["react"]
  ],


  "parser": "babel-eslint", // without parser specified, I just get import is not defined
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
  },
  "env": {
    "mocha": true,
    "node": true,
    "es6": true,
    "browser": true,
  },
  "rules": {
    "no-console": 0,
    "no-var": 1,
    "react/prop-types": 1,
    "no-unused-vars": 1,
  }
}

/*
// 1 = off, 2=warn, 3=error
react/display-name
react/jsx-no-duplicate-props
react/jsx-no-undef
react/jsx-uses-react
react/jsx-uses-vars
react/no-deprecated
react/no-direct-mutation-state
react/no-find-dom-node
react/no-is-mounted
react/no-unknown-property
react/prop-types
react/react-in-jsx-scope
react/require-render-return
*/
