{
    extends: [
          'airbnb',
          'plugin:flowtype/recommended',
        ],
      parser: 'babel-eslint',
      plugins: [
            'flowtype',
          ],
      rules: {
            'no-confusing-arrow': 0,
              'no-mixed-operators': 0,
              'arrow-parens': 0,
              'max-len': 0, // Handled by prettier
              'import/prefer-default-export': 0,
              'react/jsx-filename-extension': [1, { extensions: ['.js', '.jsx'] }],
              'react/prop-types': 0,
            },
      globals: {
            Drupal: false,
              __CLIENT__: false,
              __SERVER__: false,
              __DEVELOPMENT__: false,
              __PRODUCTION__: false,
            },
}

