# ignore everything
*

# But not these files...
!.gitconfig
!.eslintrc
!cron_test.txt
!.atom
!.gitignore
!.gitignore_global
!.vimrc*
!.tmuxinator
!.tmuxinator/**
!.stylelintrc
!.tigrc
!.bash*

.bash_private
.bash_history
.bash_logout
!/.tmuxinator/*
!/.tmuxinator/
!.sass-lint*
!.tmux.conf
!.vagrant.d
!.rvm
!.zshrc
!autopush.sh
!/.vim/
!/.vim/*
!/.vim/**/*
/.vim/.netrwhist!/
/.vim/plugged/*
!/partials/*
!/partials/
!.tern-config
!/.oh-my-zsh/custom/**/*
!/scripts/*
!scripts
.DS_Store
tmp.*
