[user]
	name = Seth Silesky
	email = seth.silesky@gmail.com
[alias]
	# list my latest commits
	stat = log --graph --author='Seth Silesky' --oneline
	# search commit message, file
	grep = log --all --oneline --name-status --grep
	# what does this do?
	sdiff = "!bash -c 'O=(); A=(); while x=\"$1\"; shift; do case $x in -*) O+=(\"$x\");; *) A+=(\"$x^{}\");; esac; done; g(){ git show \"${A[$1]}\" && return; echo FAIL ${A[$1]}; git show \"${A[$2]}\"; }; diff \"${O[@]}\" <(g 0 1) <(g 1 0)' --"
	# what does this do?
	bdiff = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	# skip files in  worktree
	ignore = update-index --skip-worktree
	# don't skip files in worktree
	unignore = update-index --no-skip-worktree
	# list skip-worktree files
	ignored = !git ls-files -t | grep '^S'
	b = branch
	c = commit
	d = diff
	co = checkout
	l = log --stat --pretty=format:'%C(red)%h%Creset - %C(yellow)%s%Creset %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	lo = log --oneline
	m = merge
	r = reset
	rb = rebase
	s = status
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[core]
	excludesfile = /Users/me/.gitignore_global
	autocrlf = input
	editor = vim
	pager = less -F -X
[color]
	branch = auto
	status = auto
	ui = auto
[push]
	default = upstream
[rebase]
	autosquash = true
[log]
	decorate = full
[commit]
	template = /Users/me/.stCommitMsg
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = 0
