[alias]
  graph = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate
  chk = checkout
  st = status
  stat = log --graph --author='silesky' --oneline
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[user]
	name = silesky
	email = seth.silesky@gmail.com
[core]
	excludesfile = /Users/ssilesky/.gitignore_global
	autocrlf = input
	editor = vim
	pager = less -F -X
[color]
	branch = auto
	status = auto
  ui = auto
[diff]
       guitool = meld
[difftool "diffmerge"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/diffmerge $LOCAL $REMOTE
[difftool]
	prompt = false
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/diffmerge --merge --result=$MERGED $LOCAL $BASE $REMOTE
[mergetool]
	keepBackup = false
[push]
	default = upstream
[rebase]
	autosquash = true
[log]
	decorate = full

