# ignore everything
*

# But not these files...
!.gitconfig
!.eslintrc
!cron_test.txt
!.atom
!.gitignore
!.gitignore_global
!.vimrc

# bash stuff
!.paths
!.bashrc
!.bash_profile
!.bash_proj
!.bash_functions

!.tmux.conf
!.vagrant.d
!.rvm
!.zshrc
!autopush.sh
/.vim/.netrwhist!/
!/.vim/
!/.vim/*
!/.vim/**/*
!/partials/*
!/partials/
!.tern-config
!/.alfred_sync
!/.alfred_sync/**/*
.alfred_sync/Alfred.alfredpreferences/workflows/*
!/.oh-my-zsh/**/*
!/scripts/*
!scripts


# A
# etc...

# ...even if they are in subdirectories

